/* top level container */
.container {
  top: 0;
  left: 0;
  background-image: url('/background.jpg');
  width: 1440px;
  height: 887px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* purple overlay */
.overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(128, 0, 255, 0.8);
}

/* sub container holding go big text */
.subcontainer {
  margin-top: 328px;
  margin-left: 317px;
}

/* Go Big text */
.gobig {
  position: absolute;
  color: white;
  background-color: transparent;
  padding: 0;
  margin: 0;
  /* text styling */
  font-style: normal;
  font-weight: 700;
  font-size: 90px;
  line-height: 111%;
}