.navbar {
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: space-between;
    color: white;
    background-color: transparent;
    padding: 36px 169px 36px 141px;
}

.leftnav,
.rightnav {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
}

.rightnav {
    font-weight: 400 !important;
}

.rightnav span {
    margin-left: 40px;
    padding: 7px 16px 6px 16px;
}

.rightnav span:hover {
    background-color: rgba(0, 0, 0, 0.16);
    font-weight: 700;
    border-radius: 5px;
}

.leftnav span:hover,
.rightnav span:hover {
    cursor: pointer;
}

/* Become a Member Modal */
.memberModal {
    width: 1440px;
    height: 887px;
    position: absolute;
    background-color: white;
    z-index: 1;
    margin: auto;
    top: 0;
}

.closeSection {
    float: right;
    width: 110px;
    height: 887px;
    background-color: rgba(128, 0, 255, 1);
    margin: 0;
    padding: 0;
}

.xbutton {
    background-color: transparent;
    margin: 0;
    margin-top: 33px;
    margin-left: 28px;
    padding: 0;
    border: none;
}

.xbutton:hover {
    cursor: pointer;
}

.contentSection {
    float: left;
    width: 1330px;
    height: 887px;
    background-color: white;
}